.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  margin: 0;
  font-family: "Commissioner", sans-serif;
  font-size: 15px;
  background-color: hsl(180, 20%, 96%);
}

/* -----------------------Start Header----------------------- */
header {
  background-image: url("images/image-hero-desktop.jpg");
  background-size: cover;
  height: 300px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 10px;
}

.header-logo {
  width: 50%;
  margin: 5% 10%;
}
.header-links {
  width: 50%;
  margin: 5% 10%;
}
.header-links ul {
  float: right;
  margin: 0;
  list-style: none;
  color: white;
}
.header-links li {
  display: inline-block;
  margin: 0 10px;
}
.header-links li a {
  text-decoration: none;
  color: white;
}

/* -----------------------End Header----------------------- */

/* -----------------------Start Body----------------------- */
.container {
  margin: auto 25%;
}

.card {
  background-color: white;
  padding: 5%;
  margin: 20px 0;
}

.first-card {
  text-align: center;
}
.first-card .card-header {
  font-size: x-large;
  font-weight: bolder;
  margin-bottom: 0;
}
.text {
  color: rgb(167, 167, 167);
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
button {
  background-color: hsl(176, 50%, 47%);
  color: white;
  font-weight: bold;
  padding: 0px 6%;
  border: none;
  border-radius: 100px;
}

button:hover {
  background-color: hsl(176, 72%, 28%);
}


#button-background {
  position: relative;
  background-color: rgba(213, 213, 213, 0.3);
  width: 200px;
  height: 40px;
  border: white;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slider {
  transition: width 0.3s, border-radius 1s, height 0.3s;
  position: absolute;
  left: -10px;
  background-color:#6d6d6d;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}
#slider.unlocked {
  transition: all 0.3s;
  width: inherit;
  left: 0 !important;
  height: inherit;
  border-radius: inherit;
  background-color:hsl(176, 72%, 28%);

}

.material-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.slide-text {

  font-size: 16px;
}

.bottom {
  position: fixed;
  bottom: 0;
  font-size: 14px;
  color: white;
}
.bottom a {
  color: white;
}
/* -----------------------End Body----------------------- */
